<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
    </header>

    <section id="about-me">
        <img src="{{ site.author.avatar }}" alt="{{ site.author.first_name }}'s Avatar" style="width:200px;border-radius:50%;">
        <h2>About me</h2>
        <p>{{ site.author.desc }}</p>
        <ul>
            <li><a href="https://github.com/{{ site.author.github_username }}">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}">LinkedIn</a></li>
            <li><a href="https://twitter.com/{{ site.author.twitter_username }}">Twitter</a></li>
            <li><a href="mailto:{{ site.author.email }}">Email Me</a></li>
            {% if site.author.cv %}
            <li><a href="{{ site.author.cv }}">Download My CV</a></li>
            {% endif %}
        </ul>
    </section>

    <nav>
        <ul>
            {% for item in site.menu %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</body>
</html>
